<!DOCTYPE html>
<html lang="en">

<head>
        <title>{{ COPY.content.headline }} | St. Louis Public Radio</title>

        <meta name="description" content="{{ PROJECT_DESCRIPTION }}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="http://news.stlpublicradio.org/sites/kwmu/themes/station/favicon.ico" />

        <!-- CHARTBEAT -->
        <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

        <!-- CSS -->
        {{ CSS.push('css/mapbox.css') }}
        {{ CSS.push('less/app.less') }}
        {% block extra_css %}{% endblock extra_css %}
        {{ CSS.render('css/app.min.css') }}

         <!--[if lte IE 8]>
            <link href='/css/mapbox.ie.css' rel='stylesheet' />
        <![endif]-->

        <!-- JS -->
        {{ JS.push('js/app_config.js') }}
        {{ JS.push('js/copy.js') }}
        {{ JS.push('js/console.js') }}
        {{ JS.push('js/lib/jquery-1.8.3.js') }}
        {{ JS.push('js/lib/jquery.table-fixed-header.js') }}
        {{ JS.push('js/lib/html5.js') }}
        {{ JS.push('js/lib/modernizr.js') }}
        {% block extra_head_js %}{% endblock extra_head_js %}
        {{ JS.render('js/app-header.min.js') }}

        {% block social_head %}
        {# Twitter #}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@nprapps">
        <meta name="twitter:image" content="{{ TWITTER.IMAGE_URL }}" />

        {# Facebook #}
        <meta property="og:title" content="{{ FACEBOOK.TITLE }}" />
        <meta property="og:url" content="{{ FACEBOOK.URL }}" />
        <meta property="og:type" content="article" />
        <meta property="og:description" content="{{ FACEBOOK.DESCRIPTION }}" />
        <meta property="og:image" content="{{ FACEBOOK.IMAGE_URL }}" />
        <meta property="og:site_name" content="www.lobbyingmissouri.org" />
        {% endblock social_head %}

        {# Google News #}
        <meta name="thumbnail" content="{{ GOOGLE.IMAGE_URL }}" />

        {% block extra_head %}
        {% endblock extra_head %}
</head>
<body class="{% block body_class %}{% endblock body_class %}">
        <a class="sr-only" href="#content">Skip To Content</a>

        {% block outer_content %}
        <nav role="navigation" class="navbar navbar-inverse">
                <div class="navbar-wrapper">
                    <div class="navbar-header">
                            <a class="navbar-brand" href="http://news.stlpublicradio.org/">St. Louis Public Radio Home Page</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="http://www.news.stlpublicradio.org/schedule" class="dropdown-toggle" data-toggle="dropdown">On Air Schedule <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="http://www.publicbroadcasting.net/kwmu/.guidemain">90.7 KWMU</a></li>
                                    <li><a href="http://www.publicbroadcasting.net/kwmu-hd2/guide.guidemain">The Gateway 90.7 KWMU - 2</a></li>
                                    <li><a href="http://www.publicbroadcasting.net/classical-hd3/guide.guidemain">Classical 90.7 KWMU-3</a></li>
                                </ul>
                            </li>
                            <li><a href="http://www.news.stlpublicradio.org/programs">Programs</a></li>
                            <li><a href="http://events.publicbroadcasting.net/kwmu/events.eventsmain">Events</a></li>
                            <li><a href="https://secure-kwmu.umsl.edu/alleg/WebModuleV862/Donate.aspx?P=SUSSUPPORT&PAGETYPE=PLG&CHECK=Tc5K5yoyCpNErWjjJfVQS71YhDw50SikSh2nq0qouhg%3d" class="support">Support This Station</a></li>

                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
        </nav>

        <header class="main-header container">
        {% block header_content %}
        {% endblock header_content %}
        </header>

        <section id="content" class="container">
            {% block content %}
            <div class="row">
                <h1>{{ project_name }}</h1>
                App content goes here.
                
                <i class="icon icon-play"></i>
            </div>
            {% endblock content %}

            {% block wide_content %}
            {% endblock wide_content %}
        </section>
        {% endblock outer_content %}

        {% block modal_content %}
        {% endblock modal_content %}

        <footer>
            <div class="footer-links container">
                <div class="footer-wrapper">
                    <div class="links footer-links-inner">
                        <ul class="list-unstyled">
                            <li><a href="http://www.stlpublicradio.org/contact/" class="contact">Contact Us</a></li>
                            <li><a href="http://www.stlpublicradio.org/contact/directions.php">Directions and Map</a></li>
                            <li><a href="http://www.stlpublicradio.org/info/onair.php">On-Air Staff</a></li>
                            <li><a href="http://www.stlpublicradio.org/info/awardwinners.php">News Awards</a></li>
                            <li><a href="http://www.stlpublicradio.org/info/employment.php">Employment</a></li>
                            <li><a href="http://www.stlpublicradio.org/info/">Station Info</a></li>
                            <li class="last"><a href="http://www.traffic.com/St-Louis-Traffic/St-Louis-Traffic-Map.html?utm_source=magnet&amp;utm_medium=traffic_magnet&amp;utm_content=754763&amp;utm_campaign=magnet_largeMap.vm&amp;AWOPARTNER=DEFAULT" target="_blank">Traffic</a></li>
                        </ul>
                    </div>
                    <div class="copyright footer-links-inner">
                        <ul class="list-unstyled">
                            <li>©2013 News for St. Louis</li>
                            <li><a href="http://www.stlpublicradio.org/support/memberlist.php">Member List Policy</a></li>
                            <li><a href="http://www.stlpublicradio.org/support/privacypolicy.php">Privacy Policy</a></li>
                            <li class="last"><a href="http://www.stlpublicradio.org/info/discussionpolicy.php">Discussion Policy</a></li>
                        </ul>
                    </div>
                    <div class="logo footer-links-inner">
                        <div class="umsl-logo list-unstyled">
                            <p><img src="http://news.stlpublicradio.org/sites/kwmu/themes/station/images/umsl-logo.png"><strong>St. Louis Public Radio</strong> is a service of the University of Missouri-St. Louis.</p>
                            <a href="http://www.umsl.edu" target="_blank" title="St. Louis Public Radio is a service of the University of Missouri-St. Louis.">www.umsl.edu</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <script type="text/javascript" src="/js/lib/jquery.tablesorter.js"></script>
        <script type="text/javascript" src="/js/lib/mapbox.js"></script>

        {{ JS.push('js/lib/underscore.js') }}
        {{ JS.push('js/lib/moment.js') }}
        {{ JS.push('js/lib/bootstrap.js') }}
        {% block extra_foot_js %}{% endblock extra_foot_js %}
        {{ JS.push('js/templates.js') }}
        {{ JS.push('js/app.js') }}
        {{ JS.render('js/app-footer.min.js') }}

        {% block extra_foot %}
        {% endblock extra_foot %}

        <!-- GOOGLE ANALYTICS -->
        <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', '{{ SLPR_GOOGLE_ANALYTICS_ID }}']);
                _gaq.push(['_trackPageview']);
                _gaq.push(['b._setAccount', '{{ OUR_GOOGLE_ANALYTICS_ID }}']);
                _gaq.push(['b._trackPageview']);

                (function() {
                        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
        </script>


        <!-- CHARTBEAT -->
        <script type="text/javascript">
                var _sf_async_config={};
                /** CONFIGURATION START **/
                _sf_async_config.uid = 18888;
                _sf_async_config.domain = "npr.org";
                /** CONFIGURATION END **/
                (function(){
                        function loadChartbeat() {
                                window._sf_endpt=(new Date()).getTime();
                                var e = document.createElement("script");
                                e.setAttribute("language", "javascript");
                                e.setAttribute("type", "text/javascript");
                                e.setAttribute("src",
                                        (("https:" == document.location.protocol) ?
                                         "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" :
                                         "http://static.chartbeat.com/") +
                                        "js/chartbeat.js");
                                document.body.appendChild(e);
                        }
                        var oldonload = window.onload;
                        window.onload = (typeof window.onload != "function") ?
                                loadChartbeat : function() { oldonload(); loadChartbeat(); };
                })();
        </script>
</body>
</html>
