<div class="search">
    <form role="form">
        <div class="form-group">
            <label for="address">Search for your address to find your legislators</label>
            <div class="input-group input-group-lg">
                <input type="text" id="address" class="form-control" placeholder="Enter your address" />
                <span class="input-group-btn"><button type="submit" class="btn btn-default">Search</button></span>
            </div>
            <span class="help-block">For example, <a href="#" class="example">3651 Olive St. St. Louis, MO 63108</a> or <a href="#" class="example">Columbia, MO</a></span>
        </div>
        
    </form>

    <div class="loading hide">
        Loading...
    </div>

    <div class="did-you-mean hide">
        <p>Did you mean...?</p>
        <ul></ul>
    </div>

    <div class="not-found hide">
        Not found.
    </div>

    <div class="results">
        <div class="rep">
        </div>

        <div class="sen">
        </div>
    </div>
</div>
