{% extends '_base.html' %}

{% block body_class %}group-detail detail{% endblock body_class %}

{% block header_content %}
<div class="header-wrapper">
    <div class="project-header">
        <h1><a href="{{ S3_BASE_URL }}">{{ PROJECT_NAME }}</a></h1>
    </div>
</div>
{% endblock %}


{% block content %}
<h1>{{ group.name }}</h1>

{% endblock %}


{% block wide_content %}
<div class="row">
    <ul class="list-unstyled stats">
        <li class="total-amount">Total received, all time: <strong>${{ comma(total_spending) }}</strong></li>
        <li class="gift-count">Total gifts received: <strong>{{ comma(total_expenditures) }}</strong></li>
        <li class="rank">Group rank: <strong>{{ ordinal(group_rank) }}</strong></li>
    </ul>
    <div class="top-organizations">
        <h3>Top organizations</h3>
        <table>
            {% for org in top_organizations %}
            <tr>
                <td class="organization"><a href="{{ org.url() }}">{{ org.name }}</a></td>
                <td class="spending"><div class="bar" style="width: {{ org.total_spending / (top_organizations|first).total_spending * 100 }}%">${{ org.total_spending }}</div></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="table-responsive gift-table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="date">Date</th>
                <th class="recipient">Organization</th>
                <th class="expenditure">Expenditure</th>
                <th class="description">Description</th>
                <th class="category">Category</th>
            </tr>
        </thead>
        <tbody>
        {% for ex in group.expenditures %}
            <tr>
                <td class="date">{{ ex.event_date.strftime('%B %e, %Y') }}</td>
                <td class="recipient">{% if ex.organization %}<a href="{{ ex.organization.url() }}">{{ ex.organization.name }}</a>{% endif %}</td>
                <td class="expenditure">${{ comma(ex.cost) }}</td>
                <td class="description">{{ ex.description }}</td>
                <td class="category">{{ ex.category }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
