{% extends '_base.html' %}

{% block body_class %}homepage{% endblock body_class %}

{% block header_content %}
<div class="header-wrapper">
    <div class="project-header">

        <h1>{{ COPY.content.headline }}</h1>
       
        <div class="story-meta">
            <div class="story-meta-wrapper">
                <p class="byline">by <span>{{ COPY.attribution.byline }}</span></p>
                <p class="dateblock">
                    <span class="date">{{ COPY.attribution.pubdate }}</span>
                </p>
            </div>
            <p class="intro">{{ COPY.content.intro }}</p>

            <p class="share"><a href="https://twitter.com/share?text={{ TWITTER.TITLE }} %23MoLeg" target="_blank"><i class="icon-twitter"></i></a><a href="https://www.facebook.com/sharer/sharer.php?u={{ FACEBOOK.URL }}"><i class="icon-facebook"></i></a></p>

            <ul id="stories">
            </ul>
        </div>
        <h3 class="partnership">A reporting partnership with <a class="npr-logo" href="http://npr.org"><img src="/img/npr-transparent.png"></a></h3>
        
        {% include '_search.html' %}
    </div>
    <div class="bigbox">
            {# 300x250 ad #}
            <div class="adwrapper">
                    <div class="sponsor300">
                            <script type="text/javascript">
                            <!--
                            if (DFP.shouldRenderForDevice('desktop')) {
                                    googletag.cmd.push(function() { googletag.display('ad-desktop'); });
                            }
                            // -->
                            </script>
                            <img src="http://placehold.it/300x250">
                    </div>
            </div>
    </div>
</div>


{% endblock %}


{% block content %}
{% endblock %}


{% block wide_content %}
<div class="totals row">
        <h3>{{ COPY.content.recent_headline }}</h3>
        <p class="total-spending">{{ COPY.content.agg_sum_headline }}<strong>{{ total_spending|format_currency_round }}</strong></p>
        <p class="total-gifts">{{ COPY.content.agg_count_headline }} <strong>{{ comma(total_expenditures) }}</strong></p>
        <p class="total-orgs">{{ COPY.content.agg_org_count_headline }}<strong>{{ comma(total_organizations) }}</strong></p>
        <p class="total-lobbyists">{{ COPY.content.agg_lobby_count_headline }}<strong>{{ comma(total_lobbyists) }}</strong></p>
</div>
<div class="top-entities row">
    <div class="org-legislator-wrapper">
        <div class="organizations">
            <h3>{{ COPY.content.org_chart_headline }}</h3>
            <table>
                <tbody>
                {% for org in organizations_total_spending %}
                <tr>
                    <td class="organization"><a href="{{ org.url() }}">{{ org.name }} <small>{{ org.category }}</small></a></td>
                    <td class="spending"><div class="bar" style="width: {{ org.total_spending / (organizations_total_spending|first).total_spending * 100 }}%">{{ org.total_spending|format_currency_round }}</div> </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            
            <p><a href="/organizations/">View all organizations &raquo;</a></p>
        </div>
        <div class="legislators">
            <h3>{{ COPY.content.leg_chart_headline }}</h3>
            <table>
                <tbody>
                {% for legislator in legislators_total_spending %}
                <tr>
                    <td class="legislator"><a href="{{ legislator.url() }}">{{ legislator.display_name() }} <small>{{ legislator.party }} | {{ ordinal(legislator.district) }} district</a></td>
                    <td class="spending"><div class="bar" style="width: {{ legislator.total_spending / (legislators_total_spending|first).total_spending * 100 }}%">{{ legislator.total_spending|format_currency_round }}</div> </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <p><a href="/legislators/"><strong>View all legislators &raquo;</strong></a></p>
        </div>
    </div>
    <div class="categories">
        <h3>{{ COPY.content.industry_chart_headline }}</h3>
        <table>
            <tbody>
            {% for category, total_spending in categories_total_spending %}
            <tr>
                <td class="category">{{ category }}</td>
                <td class="spending"><div class="bar" style="width: {{ total_spending / (categories_total_spending|first).1 * 100 }}%">{{ total_spending|format_currency_round }}</div> </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<p>* {{ COPY.content.month_explainer }}</p>

{% endblock %}

{% block extra_foot %}
<script type="text/javascript">
window.SENATORS = {
    {% for senator in senators %}
    '{{ senator.district }}': {
        'display_name': '{{ senator.display_name() }}',
        'mug_url': '/img/mugs/{{ senator.office|lower }}_{{ senator.first_name|lower|replace(".", "")|replace(" ", "_") }}_{{ senator.last_name|lower|replace(".", "")|replace(" ", "_") }}.gif',
        'slug': '{{ senator.slug }}',
        'district': '{{ senator.district }}',
        'vacant': {{ senator.vacant|lower }}
    }{% if not loop.last %},{% endif %}
    {% endfor %}
};

window.REPRESENTATIVES = {
    {% for rep in representatives %}
    '{{ rep.district }}': {
        'display_name': '{{ rep.display_name() }}',
        'mug_url': '/img/mugs/{{ rep.office|lower }}_{{ rep.first_name|lower|replace(".", "")|replace(" ", "_") }}_{{ rep.last_name|lower|replace(".", "")|replace(" ", "_") }}.png',
        'slug': '{{ rep.slug }}',
        'district': '{{ rep.district }}',
        'vacant': {{ rep.vacant|lower }}
    }{% if not loop.last %},{% endif %}
    {% endfor %}
};
</script>
{% endblock %}

{% block modal_content %}
<div class="modal fade" id="search-results">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ COPY.content.modal_choose_headline }}</h4>
      </div>
      <div class="modal-body">
        {% include '_search_results.html' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock modal_content %}
