{% extends '_base.html' %}

{% block header_content %}
<div class="header-wrapper">
    <div class="project-header">
        <h1>{{ PROJECT_NAME }}</h1>
        <div class="story-meta">
            <p class="byline">by <span>{{ COPY.attribution.byline }}</span></p>
            <p class="dateblock">
                <span class="date">{{ COPY.attribution.pubdate }}</span>
            </p>
            <p class="intro">{{ COPY.content.lorem_ipsum }}</p>
        </div>
    </div>
    <div class="bigbox">
            {# 300x250 ad #}
            <div class="adwrapper">
                    <div class="sponsor300">
                            <script type="text/javascript">
                            <!--
                            if (DFP.shouldRenderForDevice('desktop')) {
                                    googletag.cmd.push(function() { googletag.display('ad-desktop'); });
                            }
                            // -->
                            </script>
                            <img src="http://placehold.it/300x250">
                    </div>
                    <p class="pull-left">NPR thanks our sponsors</p>
                    <p class="pull-right"><a href="http://www.npr.org/about/place/corpsupport/">Become an NPR sponsor</a></p>
            </div>
    </div>
</div>
{% endblock %}


{% block content %}
{% endblock %}


{% block wide_content %}
<div class="totals row">
        <p class="total-spending">Total spending, ever: <strong>${{ comma(total_spending) }}</strong></p>
        <p class="total-gifts">Total expenditures/gifts, ever: <strong>{{ comma(total_expenditures) }}</strong></p>
        <p class="total-orgs">Total organizations lobbying, ever: <strong>{{ comma(total_organizations) }}</strong></p>
        <p class="total-lobbyists">Total lobbyists active, ever: <strong>{{ comma(total_lobbyists) }}</strong></p>
</div>
<div class="top-entities row">
    <div class="organizations">
        <h2>Organizations with highest spending, ever</h2>
        <table>
            <thead>
                <tr>
                    <th class="organization">Organization</th>
                    <th class="spending">Spending</th>
                </tr>
            </thead>
            <tbody>
            {% for org in organizations_total_spending %}
            <tr>
                <td class="organization"><a href="{{ org.url() }}">{{ org.name }}</a></td>
                <td class="spending"><div class="bar" style="width: {{ org.total_spending / (organizations_total_spending|first).total_spending * 100 }}%">${{ comma(org.total_spending) }}</div> </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="legislators">
        <h2>Legislators with highest spending on them, ever</h2>
        <table>
            <thead>
                <tr>
                    <th class="legislator">Legislator</th>
                    <th class="spending">Spending</th>
                </tr>
            </thead>
            <tbody>
            {% for legislator in legislators_total_spending %}
            <tr>
                <td class="legislator"><a href="{{ legislator.url() }}">{{ legislator.name }}</a></td>
                <td class="spending"><div class="bar" style="width: {{ legislator.total_spending / (legislators_total_spending|first).total_spending * 100 }}%">${{ comma(legislator.total_spending) }}</div> </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="categories">
        <h2>Spending by category, ever</h2>
        <ul>
            {% for ex in expenditures_by_category %}
            <li>{{ ex.category }}</a>: ${{ comma(ex.total_spending) }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
