{% extends '_base.html' %}

{% block header_content %}
<div class="header-wrapper">
    <div class="project-header">
        <h1>{{ PROJECT_NAME }}</h1>
        <div class="story-meta">
            <p class="byline">by <span>{{ COPY.attribution.byline }}</span></p>
            <p class="dateblock">
                <span class="date">{{ COPY.attribution.pubdate }}</span>
            </p>
            <p class="intro">{{ COPY.content.lorem_ipsum }}</p>
        </div>
    </div>
    <div class="bigbox">
            {# 300x250 ad #}
            <div class="adwrapper">
                    <div class="sponsor300">
                            <script type="text/javascript">
                            <!--
                            if (DFP.shouldRenderForDevice('desktop')) {
                                    googletag.cmd.push(function() { googletag.display('ad-desktop'); });
                            }
                            // -->
                            </script>
                            <img src="http://placehold.it/300x250">
                    </div>
                    <p class="pull-left">NPR thanks our sponsors</p>
                    <p class="pull-right"><a href="http://www.npr.org/about/place/corpsupport/">Become an NPR sponsor</a></p>
            </div>
    </div>
</div>
{% endblock %}


{% block content %}
{% endblock %}


{% block wide_content %}
<div class="row">
    <div class="col-md-12">
        <p>Total spending, ever: {{ total_spending }}</p>
        <p>Total expenditures/gifts, ever: {{ total_expenditures }}</p>
        <p>Total organizations lobbying, ever: {{ total_organizations }}</p>
        <p>Total lobbyists active, ever: {{ total_lobbyists }}</p>
        <p>Orgs with highest spending, ever:</p>
        <ul>
            {% for org in organizations_total_spending %}
            <li><a href="{{ org.url() }}">{{ org.name }}</a>: ${{ org.total_spending }}</li>
            {% endfor %}
        </ul>
        <p>Legislators with highest spending on them, ever:</p>
        <ul>
            {% for legislator in legislators_total_spending %}
            <li><a href="{{ legislator.url() }}">{{ legislator.name }}</a>: ${{ legislator.total_spending }}</li>
            {% endfor %}
        </ul>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% for ex in expenditures %}
        <h2>${{ ex.cost }}</h2>
        {% if ex.legislator %}<p>Legislator: <a href="{{ ex.legislator.url() }}">{{ ex.legislator.name }}</a></p>{% endif %}
        <p>Organization: <a href="{{ ex.organization.url() }}">{{ ex.organization.name }}</a></p>
        {% endfor %}
    </div>
</div>
{% endblock %}
