{% extends '_base.html' %}

{% block title %}{{ legislator.display_name() }} | {% endblock %}

{% block social_head %}
{# Twitter #}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@nprapps">
<meta name="twitter:image" content="{{ TWITTER.IMAGE_URL }}" />

{# Facebook #}
<meta property="og:title" content="{{ COPY.content.headline }}: {{ legislator.display_name() }}" />
<meta property="og:url" content="{{ S3_BASE_URL }}{{ legislator.url() }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="Within the last 24 months, {{ legislator.display_name() }} received {{ comma(total_expenditures_recent) }} gift{% if total_expenditures_recent != 1 %}s{% endif %} valued at {{ total_spending_recent|format_currency_round }} from lobbyists." />
<meta property="og:image" content="{{ FACEBOOK.IMAGE_URL }}" />
<meta property="og:site_name" content="www.lobbyingmissouri.org" />
{% endblock social_head %}

{% block body_class %}legislator-detail detail{% endblock body_class %}

{% block header_content %}
<div class="header-wrapper">
    <div class="project-header">
        <h1><a href="/">{{ COPY.content.headline }}</a></h1>

        <ul class="breadcrumbs list-unstyled">
            <li><a href="/">Home</a></li>
            <li><a href="/legislators/">Legislators</a></li>
            <li><a href="{{ legislator.url() }}">{{ legislator.display_name() }}</a></li>
        </ul>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="legislator-header detail-header">
        <div class="legislator-info">
            <img class="img-responsive mug" src="{{ legislator.mugshot_url() }}">
            <div class="info-wrapper">
                <h1>{{ legislator.display_name() }}</h1>
                <h3>{{ legislator.party }} &ndash; {{ ordinal(legislator.district) }} district</h3>
                <div class="info">
                    {% if legislator.hometown %}<p><strong>{{ COPY.legislator.hometown }}</strong> <span>{{ legislator.hometown }}</span></p>{% endif %}
                    <p><strong>{{ COPY.legislator.elected_in }}</strong> <span>{{ legislator.year_elected }}</span></p>
                    {% if legislator.phone %}<p><strong>{{ COPY.legislator.phone }}</strong> <span>{{ legislator.phone }}</span></p>{% endif %}
                    <p><strong>{{ COPY.legislator.website }}</strong> <span>{% if legislator.office == 'Representative' %}<a href="{{ legislator.official_url() }}">{{ COPY.legislator.website_house }}</a>{% else %}<a href="{{ legislator.official_url() }}">{{ COPY.legislator.website_senate }}</a>{% endif %}</span></p>
                </div>
                <p class="share"><a class="twitter" href="https://twitter.com/share?text=Within the last 24 months%2C {{ legislator.display_name()|urlencode }} received {{ comma(total_expenditures_recent)|urlencode }} gift{% if total_expenditures_recent != 1 %}s{% endif %} valued at {{ total_spending_recent|format_currency_round|urlencode }} from lobbyists. %23MoLeg&url={{ S3_BASE_URL|urlencode }}{{ legislator.url()|urlencode }}" target="_blank"><i class="icon-twitter"></i></a><a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ S3_BASE_URL|urlencode }}{{ legislator.url()|urlencode }}"><i class="icon-facebook"></i></a></p>
            </div>
            
        </div>
        <img class="district" src="/img/districts/{{ legislator.office|replace("Senator", "senate")|replace("Representative", "house") }}{{ legislator.district }}.png">
    
</div>

{% endblock %}


{% block wide_content %}
<div class="row">
    <div class="two-year stats">
        <h3>{{ COPY.legislator.recent_headline }}</h3>
        <p>
        {% if total_expenditures_recent > 0 %}
            {{ legislator.short_display_name() }} ranks <strong>{{ ordinal(legislator_rank) }}</strong> (out of <strong>197</strong> legislators) in lobbyist spending, having received <strong>{{ comma(total_expenditures_recent) }}</strong> gift{% if total_expenditures_recent != 1 %}s{% endif %}, valued at <strong>{{ total_spending_recent|format_currency_round }}</strong>.
        {% else %}
            {{ legislator.short_display_name() }} received <strong>{{ comma(total_expenditures_recent) or 0 }}</strong> gift{% if total_expenditures_recent != 1 %}s{% endif %} valued at <strong>{{ total_spending_recent|format_currency_round }}</strong> from lobbyists. 
        {% endif %}
        </p>
        <p class="ed-note"><small>* {{ COPY.content.month_explainer }}</small></p>
    </div>
    <div class="all-time stats">
        <h3>{{ COPY.legislator.all_time_headline }}</h3>
        <p>{{ legislator.short_display_name() }} received <strong>{{ comma(total_expenditures) }}</strong> gift{% if total_expenditures != 1 %}s{% endif %} from lobbyists, valued at <strong>{{ total_spending|format_currency_round }}</strong>.</p>  
        <p class="ed-note"><small>{{ COPY.content.all_the_data }}</small></p>
    </div>
    {% if total_spending != 0 %}
    <div class="leaderboard">
        <div class="leaderboard-wrapper">
            <div class="top-organizations">
                <h4>{{ COPY.legislator.org_chart_hed }}</h4>
                <table>
                    {% for org in top_organizations %}
                    <tr>
                        <td class="organization"><a href="{{ org.url() }}">{{ org.name }}</a></td>
                        <td class="spending"><div class="bar" style="width: {{ org.total_spending / (top_organizations|first).total_spending * 100 }}%"><span>{{ org.total_spending|format_currency_round }}</span></div></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="top-categories">
                <h4>{{ COPY.legislator.category_chart_hed }}</h4>
                <table>
                    {% for category, total_spending in top_categories %}
                    <tr>
                        <td class="category">{{ category }}</td>
                        <td class="spending"><div class="bar" style="width: {{ total_spending / (top_categories|first).1 * 100 }}%"><span>{{ total_spending|format_currency_round }}</span></div></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% endif %}
    {% if total_expenditures_recent != 0 %}
    <div class="table-responsive gift-table">
        
        <div class="gift-sort-wrapper">
            <label for="gift-sort">Sort by: </label>
            <select id="gift-sort">
                <option value="cost" selected="selected">{{ COPY.legislator.most_expensive }}</option>
                <option value="date">{{ COPY.legislator.most_recent }}</option>
                <option value="organization">{{ COPY.legislator.name_of_org }}</option>
            </select>
        </div>
        <table class="table table-striped table-fixed-header">
            <thead class="header">
                <tr>
                    <th class="date">{{ COPY.legislator.th_date }}</th>
                    <th class="organization">{{ COPY.legislator.th_org }}</th>
                    <th class="expenditure">{{ COPY.legislator.th_value }}</th>
                    <th class="description">{{ COPY.legislator.th_desc }}</th>
                    <th class="category">{{ COPY.legislator.th_category }}</th>
                    <th class="share"></th>
                </tr>
            </thead>
            <tbody>
            {% for ex in expenditures_recent %}
                <tr id="exp{{ ex.ethics_id }}">
                    <td class="date"><span>{{ ex.event_date.isoformat() }}</span>{{ ex.event_date.strftime('%B %e, %Y') }}</td>
                    <td class="organization">{% if ex.organization %}<a href="{{ ex.organization.url() }}">{{ ex.organization.name }}</a>{% endif %}</td>
                    <td class="expenditure"><span>{{ ex.cost }}</span>{{ ex.cost|format_currency }}</td>
                    <td class="description{% if not ex.description %} not-disclosed{% endif %}">{% if ex.description %}{{ ex.description }}{% else %}<em>{{ COPY.legislator.not_disclosed }}</em>{% endif %}</td>
                    <td class="category">{{ ex.category }}</td>
                    <td class="share"><a href="https://twitter.com/share?text={{ ex.legislator.display_name()|urlencode }} received a gift valued at {{ ex.cost|format_currency }} from {{ ex.organization.name|urlencode }} &url={{ S3_BASE_URL|urlencode }}{{ legislator.url()|urlencode }}%23exp{{ ex.ethics_id }}" target="_blank"><i class="icon-twitter"></i></a><a href="https://www.facebook.com/sharer/sharer.php?u={{ S3_BASE_URL|urlencode }}{{ legislator.url()|urlencode }}%23exp{{ ex.ethics_id }}"><i class="icon-facebook"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}
