{% extends '_base.html' %}

{% block body_class %}legislator-list detail list{% endblock body_class %}

{% block header_content %}
<div class="header-wrapper">
    <div class="project-header">
        <h1><a href="{{ S3_BASE_URL }}">{{ PROJECT_NAME }}</a></h1>
    </div>
</div>
{% endblock %}


{% block content %}
<h1>All Legislators</h1>
{% endblock %}


{% block wide_content %}
<div class="row">
    <div class="col-md-6">
        <h2>House</h2>
        <table class="table table-striped legislator-table">
            <thead>
                <tr>
                    <th class="recipient">Name</th>
                </tr>
            </thead>
            <tbody>
            {% for legislator in house_list %}
                <tr>
                    {% if legislator.vacant %}
                    <td class="name">Vacant <small>{{ ordinal(legislator.district) }} district</small></td>
                    {% else %}
                    <td class="name"><a href="{{ legislator.url() }}">{{ legislator.display_name() }} <small>{{ legislator.party }} | {{ ordinal(legislator.district) }} district</small></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h2>Senate</h2>
        <table class="table table-striped legislator-table">
            <thead>
                <tr>
                    <th class="recipient">Name</th>
                </tr>
            </thead>
            <tbody>
            {% for legislator in senate_list %}
                <tr>
                    {% if legislator.vacant %}
                    <td class="name">Vacant <small>{{ ordinal(legislator.district) }} district</small></td>
                    {% else %}
                    <td class="name"><a href="{{ legislator.url() }}">{{ legislator.display_name() }} <small>{{ legislator.party }} | {{ ordinal(legislator.district) }} district</small></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
