{% extends '_base.html' %}

{% block body_class %}legislator-detail detail{% endblock body_class %}

{% block header_content %}
<div class="header-wrapper">
    <div class="project-header">
        <h1><a href="/">{{ PROJECT_NAME }}</a></h1>
    </div>
</div>
{% endblock %}


{% block content %}
<h1>{{ legislator.office }} {{ legislator.name }}</h1>
<h2>{{ legislator.party|replace("Republican", "R"|replace("Democrat", "D")) }} &ndash; {{ legislator.district }}</h2>
<p>Total received, all time: ${{ comma(total_spending) }}</p>
{% endblock %}


{% block wide_content %}
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped gift-table">
            <thead>
                <tr>
                    <th class="date">Date</th>
                    <th class="recipient">Organization</th>
                    <th class="expenditure">Expenditure</th>
                    <th class="description">Description</th>
                    <th class="category">Category</th>
                </tr>
            </thead>
            <tbody>
            {% for ex in legislator.expenditures %}
                <tr>
                    <td class="date">{{ ex.event_date.strftime('%B %e, %Y') }}</td>
                    <td class="recipient">{% if ex.organization %}<a href="{{ ex.organization.url() }}">{{ ex.organization.name }}</a>{% endif %}</td>
                    <td class="expenditure">${{ comma(ex.cost) }}</td>
                    <td class="description">{{ ex.description }}</td>
                    <td class="category">{{ ex.category }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
