{% extends '_base.html' %}

{% block body_class %}legislator-detail detail{% endblock body_class %}

{% block header_content %}
<div class="header-wrapper">
    <div class="project-header">
        <h1><a href="{{ S3_BASE_URL }}">{{ PROJECT_NAME }}</a></h1>
    </div>
</div>
{% endblock %}


{% block content %}
<h1>{{ legislator.display_name() }}</h1>
<ul class="list-unstyled info">
    <li>{{ legislator.party }}</li>
    <li>{{ ordinal(legislator.district) }} district</li>
    <li>Elected in {{ legislator.year_elected }}</li>
    {% if legislator.hometown %}<li>{{ legislator.hometown }}</li>{% endif %}
    {% if legislator.phone %}<li>{{ legislator.phone }}</li>{% endif %}
</ul>

{% endblock %}


{% block wide_content %}
<div class="row">
    <ul class="list-unstyled stats">
        <li class="total-amount">Total received (all time): <strong>{{ total_spending|format_currency }}</strong></li>
        <li class="total-amount">Total received (since TKTK): <strong>{{ total_spending_recent|format_currency }}</strong></li>
        <li class="gift-count">Total gifts received (all_time): <strong>{{ comma(total_expenditures) }}</strong></li>
        <li class="gift-count">Total gifts received (since TKTK): <strong>{{ comma(total_expenditures_recent) }}</strong></li>
        <li class="rank">Legislator rank (since TKTK): <strong>{{ ordinal(legislator_rank) }}</strong></li>
    </ul>
    <div class="leaderboard">
        <div class="leaderboard-wrapper">
            <div class="top-organizations">
                <h3>Top organizations</h3>
                <table>
                    {% for org in top_organizations %}
                    <tr>
                        <td class="organization"><a href="{{ org.url() }}">{{ org.name }}</a></td>
                        <td class="spending"><div class="bar" style="width: {{ org.total_spending / (top_organizations|first).total_spending * 100 }}%">{{ org.total_spending|format_currency }}</div></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="top-categories">
                <h3>Top categories</h3>
                <table>
                    {% for category, total_spending in top_categories %}
                    <tr>
                        <td class="category">{{ category }}</td>
                        <td class="spending"><div class="bar" style="width: {{ total_spending / (top_categories|first).1 * 100 }}%">{{ total_spending|format_currency }}</div></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="table-responsive gift-table">
        <label for="gift-sort">Sort by: </label>
        <select id="gift-sort">
            <option value="cost" selected="selected">Most expensive</option>
            <option value="date">Most recent</option>
            <option value="organization">Name of organization</option>
        </select>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="date">Date</th>
                    <th class="recipient">Organization</th>
                    <th class="expenditure">Value</th>
                    <th class="description">Description</th>
                    <th class="category">Category</th>
                </tr>
            </thead>
            <tbody>
            {% for ex in expenditures %}
                <tr>
                    <td class="date">{{ ex.event_date.strftime('%B %e, %Y') }}</td>
                    <td class="recipient">{% if ex.organization %}<a href="{{ ex.organization.url() }}">{{ ex.organization.name }}</a>{% endif %}</td>
                    <td class="expenditure">{{ ex.cost|format_currency }}</td>
                    <td class="description">{% if ex.description %}{{ ex.description }}{% else %}<em>Not disclosed</em>{% endif %}</td>
                    <td class="category">{{ ex.category }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
