{% extends '_base.html' %}

{% block body_class %}methodology detail{% endblock body_class %}

{% block header_content %}
<div class="header-wrapper">
    <div class="project-header">
        <h1><a href="{{ S3_BASE_URL }}">{{ PROJECT_NAME }}</a></h1>
    </div>
</div>
{% endblock %}

{% block content %}
{% endblock %}

{% block wide_content %}
<h3>{{ COPY.methodology.title }}</h3>

{{ COPY.methodology.body }}

<p><a href="{{ S3_BASE_URL }}/download/missouri-lobbying.csv">{{ COPY.methodology.download }}</a></p>
{% endblock %}
