{% extends '_base.html' %}

{% block body_class %}methodology detail{% endblock body_class %}

{% block header_content %}
<div class="header-wrapper">
    <div class="project-header">
        <h1><a href="/">{{ COPY.content.headline }}</a></h1>

        <ul class="breadcrumbs list-unstyled">
            <li><a href="/">Home</a></li>
            <li><a href="/methodology/">Methodology</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
	<div class="text">
		{{ COPY.methodology.body }}
	</div>
	<div class="download">
		{{ COPY.methodology.download }}
	</div>
</div>
{% endblock %}

{% block wide_content %}

{% endblock %}
