{% extends '_base.html' %}

{% block body_class %}organization-detail detail{% endblock body_class %}

{% block header_content %}
<div class="header-wrapper">
    <div class="project-header">
        <h1><a href="{{ S3_BASE_URL }}">{{ PROJECT_NAME }}</a></h1>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="detail-header organization-header">
    <h1>{{ organization.name }}</h1>
    <p class="info">{{ COPY.organization.industry_label }}: <strong>{{ organization.category }}</strong></p>
</div>
{% endblock %}


{% block wide_content %}
<div class="row">
    <div class="two-year stats">
        <h3>{{ COPY.organization.recent_headline }}</h3>
        <p>{{ organization.name }} gave <strong>{{ comma(total_expenditures_recent) or 0  }}</strong> gift{% if total_expenditures_recent != 1 %}s{% endif %} valued at <strong>{{ total_spending_recent|format_currency_round }}</strong> to state legislators and their staffs. During that time, <strong>{{ (organization_rank - 1)|apnumber }}</strong> organization{% if (organization_rank - 1) != 1 %}s{% endif %} spent more money on lobbying.</p>
        <p>* {{ COPY.content.month_explainer }}</p>
    </div>
    <div class="all-time stats">
        <h3>{{ COPY.organization.all_time_headline }}</h3>
        <p>{{ organization.name }} gave <strong>{{ comma(total_expenditures) }} gift{% if total_expenditures != 1 %}s{% endif %}</strong> valued at <strong>{{ total_spending|format_currency_round }}</strong> to state legislators and their staffs.</p>
    </div>
    {% if top_legislators|length > 0 %}
    <div class="leaderboard">
        <div class="leaderboard-wrapper">
            <div class="top-legislators">
                <h4>{{ COPY.organization.legislator_chart_hed }}</h4>
                <table>
                    {% for legislator in top_legislators %}
                    <tr>
                        <td class="legislator"><a href="{{ legislator.url() }}">{{ legislator.display_name() }} <small>{{ legislator.party }} | {{ ordinal(legislator.district) }} district</a></td>
                        <td class="spending"><div class="bar" style="width: {{ legislator.total_spending / (top_legislators|first).total_spending * 100 }}%">{{ legislator.total_spending|format_currency_round }}</div></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% endif %}

    {% if expenditures_recent.count() > 0 %}
    <div class="table-responsive gift-table">
        <label for="gift-sort">Sort by: </label>
        <select id="gift-sort">
            <option value="cost" selected="selected">{{ COPY.organization.most_expensive }}</option>
            <option value="date">{{ COPY.organization.most_recent }}</option>
            <option value="organization">{{ COPY.organization.name_of_org }}</option>
        </select>
        <table class="table table-striped table-fixed-header">
            <thead class="header">
                <tr>
                    <th class="date">{{ COPY.organization.th_date }}</th>
                    <th class="recipient">{{ COPY.organization.th_recipient }}</th>
                    <th class="expenditure">{{ COPY.organization.th_value }}</th>
                    <th class="description">{{ COPY.organization.th_desc }}</th>
                    <th>{{ COPY.organization.th_category }}</th>
                    <th class="share"></th>
                </tr>
            </thead>
            <tbody>
            {% for ex in expenditures_recent %}
                <tr id="exp{{ ex.ethics_id }}">
                    <td class="date"><span>{{ ex.event_date.isoformat() }}</span>{{ ex.event_date.strftime('%B %e, %Y') }}</td>
                    <td class="recipient">{% if ex.group %}{{ ex.group.name }}{% elif ex.legislator %}<a href="{{ ex.legislator.url() }}">{{ ex.legislator.display_name() }}</a>{% else %}{{ COPY.organization.no_longer_serving }}{% endif %}</td>
                    <td class="expenditure"><span>{{ ex.cost }}</span>{{ ex.cost|format_currency }}</td>
                    <td class="description{% if not ex.description %} not-disclosed{% endif %}">{% if ex.description %}{{ ex.description }}{% else %}<em>{{ COPY.organization.not_disclosed }}</em>{% endif %}</td>
                    <td>{{ ex.category }}</td>
                    <td class="share"><a href="https://twitter.com/share?text={% if ex.group %}{{ ex.group.name }}{% elif ex.legislator %}{{ ex.legislator.display_name() }}{% else %}{{ COPY.organization.no_longer_serving }}{% endif %} received a gift valued at {{ ex.cost|format_currency }} from {{ organization.name }} &url={{ organization.url() }}%23exp{{ ex.ethics_id }}" target="_blank"><i class="icon-twitter"></i></a><a href="https://www.facebook.com/sharer/sharer.php?u={{ organization.url() }}%23exp{{ ex.ethics_id }}"><i class="icon-facebook"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}
