{% extends '_base.html' %}

{% block body_class %}organization-detail detail{% endblock body_class %}

{% block header_content %}
<div class="header-wrapper">
    <div class="project-header">
        <h1><a href="{{ S3_BASE_URL }}">{{ PROJECT_NAME }}</a></h1>
    </div>
</div>
{% endblock %}


{% block content %}
<h1>{{ organization.name }}</h1>
<p class="info">Industry: <strong>{{ organization.category }}</strong></p>
{% endblock %}


{% block wide_content %}
<div class="row">
    <ul class="list-unstyled stats">
        <li>Total spending (all time): <strong>{{ total_spending|format_currency }}</strong></li>
        <li>Total spending (since TKTK): <strong>{{ total_spending_recent|format_currency }}</strong></li>
        <li>Total gifts sent (all time): <strong>{{ comma(total_expenditures) }}</strong></li>
        <li>Total gifts sent (since TKTK): <strong>{{ comma(total_expenditures_recent) }}</strong></li>
        <li>Organization rank (since TKTK): <strong>{{ ordinal(organization_rank) }}</strong></li>
    </ul>
    <div class="leaderboard">
        <div class="leaderboard-wrapper">
            <div class="top-legislators">
                <h3>Top legislators</h3>
                <table>
                    {% for legislator in top_legislators %}
                    <tr>
                        <td class="legislator"><a href="{{ legislator.url() }}">{{ legislator.display_name() }}</a></td>
                        <td class="spending"><div class="bar" style="width: {{ legislator.total_spending / (top_legislators|first).total_spending * 100 }}%">{{ legislator.total_spending|format_currency }}</div></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <div class="table-responsive gift-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="date">Date</th>
                    <th class="recipient">Recipient</th>
                    <th class="expenditure">Expenditure</th>
                    <th class="description">Description</th>
                    <th class="category">Category</th>
                </tr>
            </thead>
            <tbody>
            {% for ex in expenditures %}
                <tr>
                    <td class="date">{{ ex.event_date.strftime('%B %e, %Y') }}</td>
                    <td class="recipient">{% if ex.group %}{{ ex.group.name }}{% elif ex.legislator %}<a href="{{ ex.legislator.url() }}">{{ ex.legislator.display_name() }}</a>{% else %}Legislator no longer serving{% endif %}</td>
                    <td class="expenditure">{{ ex.cost|format_currency }}</td>
                    <td class="description">{% if ex.description %}{{ ex.description }}{% else %}<em>Not disclosed</em>{% endif %}</td>
                    <td class="category">{{ ex.category }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
