{{ CSS.push('less/app.less') }}
{% block extra_css %}{% endblock extra_css %}
{{ CSS.render('css/app.min.css') }}

<style>
    #lobbying-series-promo { margin: 20px; width: 100%; } 
    li { font-size: 16px; line-height: 28px; font-weight: bold; }
    p { font-size: 16px; line-height: 28px; }
    @media (max-width: 480px) {
        #lobbying-series-promo  ul { width: auto; float: none; }
        #lobbying-series-promo { margin-bottom: 10px; }
        #lobbying-series-promo { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
        #lobbying-series-promo img { width: 100%; }
        #lobbying-series-promo  ul li, #lobbying-series-promo  ul li a { margin-left: 0; font-size: 13px; }
</style>

{% block content %}
    <div id="lobbying-series-promo">
            <a href="http://www.lobbyingmissouri.org"><img src="http://www.lobbyingmissouri.org/img/promom.png" alt="chart"/></a>
            <h3><a href="http://www.lobbyingmissouri.org">Explore the Data</a></h3>
            <p>How much is your state lawmakers receiving in gifts from lobbyists? Use <strong><a href="http://www.lobbyingmissouri.org">our interactive</a></strong> to find out.</p>
        <div class="latest-stories">
            <h3>Latest Stories</h3>
        <ul id="stories" class="list-unstyled">
        </ul>
        </div>
    </div>
{% endblock %}

<script type="text/javascript" src="/js/lib/jquery-1.8.3.js"></script>
<script type="text/javascript">
    var $stories = $('#stories');

    // Load stories
    if ($stories.length > 0) {
        $.getJSON('/live-data/stories.json', function(stories) {
            for (var i = 0; i < stories.length; i++) {
                var story = stories[i];
                $stories.append('<li><a href="' + story.url + '">' + story.title + '</a></li>');
            };
        });
    }
</script>


